body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.header  {
  width: 100%;
  display: none;
}

footer {
  font-size: 12px;
  margin-top: 100px;
  color: #949494;
}

.footer-nav-section {
  box-sizing: border-box;
  padding: 30px 0 20px 0;
  
  background-color: #131313;
  margin: 0 auto;
  height: 160px;
  text-align: center;
  line-height: 50px;
}

.footer-nav-section li {
  color: #949494;
  margin-right: 10px;
}

.footer-nav-section ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-data {
  
  background-color: black;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.footer-data img {
  width: 50px;
}

.social-part-div i {
  box-sizing: border-box;
  padding: 7px;
  margin-right: 15px;
  width: 40px;
  
  border: 1px solid #333333;
  border-radius: 50%;
  background-color: #333333;
  color: white;
}

.header-tabs {
  display: flex;
  justify-content: space-between;
  background: #131313;
  width: 100%;
  height: 32px;
  align-items: center;
}

.header-tabs a {
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: rgb(134, 134, 134);
}

.header-tabs-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.links {
  margin-left: 20px;
}

.links a {
  text-decoration: none;
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: rgb(134, 134, 134);
  text-transform: uppercase;
}

.left-panel {
  margin-left: 20px;
}

.right-panel {
  margin-right: 20px;
}

.nav-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
}

.icons {
  display: flex;
}

.fas {
  margin: 0 5px 0 5px;
  padding: 16px;
}

.search {
  border-left: 1px solid #ddd;
}

.logo {
  /* background: url("https://lh3.googleusercontent.com/pw/ACtC-3fG5BHUm21ojhVzkkzTCC91roqzrHIfzxh2PHZ9SizvgK9S5Zh6U8nwrXwHJKjHsdy9xCDbwgQFuubGNX79N0Oezrhnya-8XAwqjvEuGA3kQrLiR0hd0yMj0VCTr0R1TunS6xOjy_Ij2QG_bSWR8SEs=w106-h80-no?authuser=0"); */
  /* background-repeat: no-repeat; */
  background-color: black;
  display: block;
  width: 107px;

}

.logo img {
  width: 65%;
  position: relative;
  top: 30%;
  left: 18%;
}

.article-link {
  background: #fd3;
  text-align: center;
  line-height: 60px;
  
}

.header-section-div {
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.header-section {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 500px) {
  .logo {
    display: block;
  }
  
  .header-section-div,
  #div1-header {
    height: 230px;
    width: 98%;
    margin: 5px 10px 10px 5px;
  }
}

@media only screen and (min-width: 770px) {
  .header {
    display: block;
  }
  .icons {
    display: none;
  }
  .logo img {
    top: 40%;
  }
  .nav-container {
    height: 80px;
  }
  .article-link {
    height: 30px;
    line-height: 30px;
  }
  .header-section {
    margin: 2px 10px 2px 10px;
    height: 450px;
  }
  .header-section-div {
    float: right;
    width: 33%;
    height: 220px;
    margin: 0 0 10px 0;
  }
  #div1-header {
    margin: 0;
    float: left;
    width: 66%;
    height: 100%;
  }
}

/* @media only screen and (max-width: 800px) {
  .right-panel {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .header-tabs,
  .links {
    display: none;
  }
} */

@media only screen and (min-width: 1024px) {
  
  .logo {
    display: none;
  }
  .header-section {
    height: 545px;
  }
  .header-section-div {
    height: 267.5px;
  }
}

@media only screen and (min-width: 1600px) {
  .header-section {
    height: 480px;
  }
  .header-section-div {
    height: 235px;
  }
} 
